<!doctype html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/main.css" />
        <link ref="stylesheet" href="/bootstrap/css/ie10-viewport-bug-workaround.css" />
        <link rel="stylesheet" href="/css/navbar.css" />
        <script src="/js/jquery.js"></script>
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="/js//html5shiv.min.js"></script>
		  <script src="/js/respond.min.js"></script>
		<![endif]-->
    </head>
    <body>
