{% include "header.html" %}
        <link rel="stylesheet" href="/css/login_box.css" />
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="pr-wrap">
                        <div class="pass-reset">
                            <label>Enter the username you signed up with</label>
                            <input type="text" name="uname" placeholder="Username" />
                            <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
                        </div>
                    </div>
                    <p class="form-title">Sign In</p>
                    <div class="login">
                        <input type="text" id="uname" name="uname" placeholder="Username" />
                        <input type="password" id="pwd" name="pwd" placeholder="Password" />
                        <button id="submit" class="pass-reset-submit btn btn-success btn-sm">Submit</button>
                        <div class="remember-forget">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="remember" /> Remember Me
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <a href="javascript:void(0)" class="forgot-pass">Forgot Password</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/jquery.js"></script>
        <script>
            $('#submit').click((event) => {
                let uname = $('#uname').val();
                let pwd = $('#pwd').val();
                if (uname && pwd) {
                    $.post('/api/login',
                        {
                            'uname': uname,
                            'pwd': pwd
                        },
                        (data) => {
                        }
                    );
                }
            });
        </script>
{% include "footer.html" %}
